@charset "UTF-8";
* { 
    margin: 0px; padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
} /*confirguração geral do site*/ 
html, body {
    height: 100vh;
    width: 100vw; /*HTML E BODY COM ALTURA E LARGURA TOTAIS DA TELA*/
    background-color: black;
}
body {
    background: url('../imagens/fundo-madeira.jpg')no-repeat top center;
    background-size: cover; /*COBRE A TELA TODA*/
    background-attachment: fixed;
    margin: 0px; /*TIROU A BARRA DE ROLAGEM E FAIXA PRETA*/

}
main { /* CONFIGURAÇÃO DO CONTEUDO PRINCIPAL*/
    height: 100vh;
    display: flex;
         justify-content: center;
         align-items: center;
        }
section#telefone {
    height: 627px;
    width: 311px;
    background-color: grey;
    background: url(../imagens/frame-iphone.png) no-repeat; /*NO REPEAT- IMAGEM NAO REPETE*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
/*ESSA CONFIG QUE DEIXA NO CENTRO INDEPENDENTE DO TAMANHO DA TELA/ CLOCAR POSITION RELATIVE NO MAIN*/ 
iframe#tela {
    position: relative;
    top: 81px;
    left: 22px; /*POSICIONOU EM CIMA E LATERAL E*/
    width: 265px;
    height:469px ; /*TAMANHO DA IMAGEM PARA PREENCHER O FRAME*/
}